certifi==2018.4.16
cffi==1.11.5
Django==2.1
django-bootstrap4==0.0.7
django-braces==1.13.0
django-debug-toolbar==1.9.1
misaka==2.1.0
Pillow==5.2.0
pipenv==2018.5.18
psycopg2==2.7.5
psycopg2-binary==2.7.5
pycparser==2.18
pytz==2018.5
sqlparse==0.2.4
virtualenv==16.0.0
virtualenv-clone==0.3.0
